{% extends 'Poudlard/base.html' %}
{% load static%}

{% block content %}
    <div>
        <h1 class="text-center">
            {{ character.id_character }}
        </h1>
        <img class="imageCharacter" src="{% static 'media/' %}{{ character.photo }}" alt="{{ character.id_character }}">
    </div>
    <div>
        <h1 class="text-center">
            <a href="{% url 'equipement_detail' pk=equipement.pk %}">{{ equipement.id_equip }}</a>
        </h1>
        <img class="imageCharacter" src="{% static 'media/' %}{{ lieu.photo }}" alt="{{ lieu.id_equip }}">
    </div>
    <br/>

    <div>
        <h2 class="text-center">
            {{ character.etat }}
        </h2>
    </div>

    <div class="text-center">
        <form method="POST" class="post-form">{% csrf_token %}
            <b> Changer : </b> {{ form.as_ul }}
            <button type="submit" class="btn btn-outline-light">OK</button>
        </form>
    </div>
    {% if messages_warning %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages_warning %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    
{% endblock %}