{% extends 'Poudlard/base.html' %}
{% load static%}

{% block maison %}
<body class="gryffondor_page">
    <div class="page-header_gryffondor">
        <div class="imageMenu">
        <a href="/gryffondor">
            <img class="imageBlasonMaison" src="{% static 'media/blason_gryffondor.png' %}" alt='Blason Gryffondor'/>
        </a>
        <div class="dropdownMenu">
            <div class="serpentard">
                <a href="/serpentard"><img class="menuImage" src="{% static 'media/blason_serpentard.png' %}" alt="Serpentard"></a>
            </div>
            <div class="serdaigle">
                <a href="/serdaigle"><img class="menuImage" src="{% static 'media/blason_serdaigle.png' %}" alt="Serdaigle"></a>
            </div>
            <div class="poufsouffle">
                <a href="/poufsouffle"><img class="menuImage" src="{% static 'media/blason_poufsouffle.png' %}" alt="Poufsouffle"></a>
            </div>
            </div>
        </div>
        <h1><a href="/">Poudlard</a></h1>
        <a href="/carte_du_maraudeur">
            <img class="imageCarteDuMaraudeur" src="{% static 'media/logo_carte_du_maraudeur.jpg' %}" alt='Carte du Maraudeur'/>
        </a>
    </div>
    <div class="character-row">
        {% for character in characters %}
            <div class="character">
                <a href="{% url 'character_detail' pk=character.id_character %}">
                <div class="imageBackgroundGryffondor">
                    <h2>
                        {{character.id_character}}
                    </h2>
                    <img class="imageCharacterGryffondor" src="{% static 'media/' %}{{ character.photo }}" alt="{{ character.id_character }}"/>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
</body>
{% endblock %}
