@font-face {
    font-family: 'Lumos';
    src: url('Lumos.ttf') format('truetype');
}

.page-header {
    /*background-color: #756841;*/
    background-image: url('../media/fond3.jpg');
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 0;
}
 
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}
 
h1,
h2,
h3,
h4 {
    font-family: 'Lumos', sans-serif;
}
 
.date {
    color: #828282;
}
 
.save {
    float: right;
}
 
.post-form textarea,
.post-form input {
    width: 100%;
}
 
.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
 
.post {
    margin-bottom: 20px;
}
 
.post h2 a,
.post h2 a:visited {
    color: #000000;
}
 
.post > .date,
.post > .actions {
    float: right;
}
 
.btn-default,
.btn-default:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}
 
.btn-default:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.imageCharacter{
    height : 400px;
}

.imageBackground{
    height : 200px;
}

.gryffondor{
    color: #ffffff;
}

.poufsouffle{
    color: #e4a915;
}

.serdaigle{
    color: #14308b;
}

.serpentard{
    color: #206137;
}

.enseignant{
    color: #000000;
}

.character{
    margin: 0 30px;
    transition : 0.5s;
}

.character:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.character h2{
    text-align: center;
    position: relative;
    color: #ffffff;
}

.character-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imageBlason{
    height: 600px;
}

.imageBlasonMaison {
    height: 100px;
    margin-left: 40px;
}

.imageCarteDuMaraudeur {
    height: 50px;
    margin-right: 40px;
}

.gryffondor_page {
    background-image: url('../media/salle_commune_gryffondor.jpg');
    background-color: #740001;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.page-header_gryffondor {
    background-color: #740001;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header_gryffondor img{
    height: 200px;
}

.page-header_gryffondor h1 {
    text-align: center;
}

.page-header_gryffondor h1 a,
.page-header_gryffondor h1 a:visited,
.page-header_gryffondor h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}

.imageBackgroundGryffondor{
    position: relative;
    height : 495px;
    width: 220px;
    background-color: #740001;
    border-radius: 25px;
    border: 5px solid #ffffff;
}

.imageCharacterGryffondor{
    height : 400px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.serpentard_page {
    background-image: url('../media/salle_commune_serpentard.jpg');
    background-color: #206137;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.page-header_serpentard {
    background-color: #206137;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-header_serpentard img{
    height: 200px;
}

.page-header_serpentard h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page-header_serpentard h1 a,
.page-header_serpentard h1 a:visited,
.page-header_serpentard h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}

.imageBackgroundSerpentard{
    position: relative;
    height : 495px;
    width: 220px;
    background-color: #206137;
    border-radius: 25px;
    border: 5px solid #ffffff;
}

.imageCharacterSerpentard{
    height : 400px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.poufsouffle_page {
    background-image: url('../media/salle_commune_poufsouffle.jpg');
    background-color: #e4a915;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.page-header_poufsouffle {
    background-color: #e4a915;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-header_poufsouffle img{
    height: 200px;
}

.page-header_poufsouffle h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page-header_poufsouffle h1 a,
.page-header_poufsouffle h1 a:visited,
.page-header_poufsouffle h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}

.imageBackgroundPoufsouffle{
    position: relative;
    height : 495px;
    width: 220px;
    background-color: #e4a915;
    border-radius: 25px;
    border: 5px solid #ffffff;
}

.imageCharacterPoufsouffle{
    height : 400px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.serdaigle_page {
    background-image: url('../media/salle_commune_serdaigle.png');
    background-color: #14308b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.page-header_serdaigle {
    background-color: #14308b;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-header_serdaigle img{
    height: 200px;
}

.page-header_serdaigle h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page-header_serdaigle h1 a,
.page-header_serdaigle h1 a:visited,
.page-header_serdaigle h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}

.imageBackgroundSerdaigle{
    position: relative;
    height : 495px;
    width: 220px;
    background-color: #14308b;
    border-radius: 25px;
    border: 5px solid #ffffff;
}

.imageCharacterSerdaigle{
    height : 400px;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.carteDuMaraudeur_page {
    background-color: #756841;
}

.carteDuMaraudeur{
    background-image: url('../media/carte_du_maraudeur.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.poudlard_icon {
    border-radius: 50%;
    background-image: url('../media/Poudlard2.jpg');
    background-position: center;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    border: 5px solid #000000;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    transform: scale(1.5);
    animation: fade-in 1s ease-in-out;
}

.preaulard_icon {
    border-radius: 50%;
    background-image: url('../media/PreAuLard.jpg');
    background-position: center;
    background-size: 100px 100px;
    border: 5px solid #000000;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    transform: scale(1.5);
    animation: fade-in 1s ease-in-out;
}

.cabanedehagrid_icon {
    border-radius: 50%;
    background-image: url('../media/CabaneDeHagrid.jpg');
    background-position: center;
    background-size: 100px 100px;
    border: 5px solid #000000;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    transform: scale(1.5);
    animation: fade-in 1s ease-in-out;
}

.icon_transparent {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0);
    background-position: center;
    background-size: 100px 100px;
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease-in-out;
    transform-origin: center center;
    transform: scale(1.5);
}

@keyframes fade-in {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.icon_rond {
    border-radius: 50%; /* Cela rend l'icône ronde */
    border: 3px solid #000; /* Cela ajoute une bordure de 3px, solide et noire */
    width: 100%;
    height: 100%;
    animation: fade-in 0.3s ease-in-out;
}
.icon_rond div {
    width: 100%;
    height: 100%;
    border-radius: 50%; /* Cela rend l'image ronde */
}