@font-face {
    font-family: 'Lumos';
    src: url('Lumos.ttf') format('truetype');
}

.page-header {
    background-color: #2a006e;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
}
 
.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}
 
h1,
h2,
h3,
h4 {
    font-family: 'Lumos', sans-serif;
}
 
.date {
    color: #828282;
}
 
.save {
    float: right;
}
 
.post-form textarea,
.post-form input {
    width: 100%;
}
 
.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}
 
.post {
    margin-bottom: 20px;
}
 
.post h2 a,
.post h2 a:visited {
    color: #000000;
}
 
.post > .date,
.post > .actions {
    float: right;
}
 
.btn-default,
.btn-default:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}
 
.btn-default:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

.imageCharacter{
    height : 400px;
}

.imageBackground{
    height : 200px;
}

.gryffondor{
    color: #740001;
}

.poufsouffle{
    color: #e4a915;
}

.serdaigle{
    color: #14308b;
}

.serpentard{
    color: #206137;
}

.enseignant{
    color: #000000;
}

.character{
    margin: 0 30px;
}

.character-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.imageBlason{
    height: 600px;
}

.imageBlasonMaison {
    grid-column: 1;
    height: 100px;
    /*margin-right: 20px;*/
}

.gryffondor_page {
    background-image: url('../media/salle_commune_gryffondor.jpg');
    background-color: #740001;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.page-header_gryffondor {
    background-color: #740001;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.page-header_gryffondor img{
    height: 200px;
}

.page-header_gryffondor h1 {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page-header_serpentard {
    background-color: #206137;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
}

.page-header_serpentard h1,
.page-header_serpentard h1 a,
.page-header_serpentard h1 a:visited,
.page-header_serpentard h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}

.serpentard_page {
    background-image: url('../media/salle_commune_serpentard.jpg');
    background-color: #206137;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header_serdaigle {
    background-color: #14308b;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
}

.page-header_serdaigle h1,
.page-header_serdaigle h1 a,
.page-header_serdaigle h1 a:visited,
.page-header_serdaigle h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}

.serdaigle_page {
    background-image: url('../media/salle_commune_serdaigle.png');
    background-color: #14308b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header_poufsouffle {
    background-color: #e4a915;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 10px 0;
}

.page-header_poufsouffle h1,
.page-header_poufsouffle h1 a,
.page-header_poufsouffle h1 a:visited,
.page-header_poufsouffle h1 a:active {
    color: #ffffff;
    font-size: 128pt;
    text-decoration: none;
    text-align: center;
    font-family: 'Lumos', sans-serif;
}

.poufsouffle_page {
    background-image: url('../media/salle_commune_poufsouffle.jpg');
    background-color: #e4a915;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

